name: Build GrabFake APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Apktool + aapt2
      run: |
        sudo apt-get update
        sudo apt-get install -y wget zip unzip
        wget https://github.com/iBotPeaches/Apktool/releases/download/v2.9.3/apktool_2.9.3.jar -O apktool.jar
        sudo wget https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool -O /usr/local/bin/apktool
        sudo chmod +x /usr/local/bin/apktool
        chmod +x apktool.jar

    - name: Build APK
      run: |
        java -jar apktool.jar b grabfake_dec -o grabfake_rebuild_unsigned.apk

    - name: Sign APK
      run: |
        keytool -genkeypair -v -keystore test.keystore -alias test -storepass 123456 -keypass 123456 -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=GrabFake"
        jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore test.keystore -storepass 123456 grabfake_rebuild_unsigned.apk test
        zipalign -v 4 grabfake_rebuild_unsigned.apk grabfake_rebuild_signed.apk

    - name: Upload final APK
      uses: actions/upload-artifact@v3
      with:
        name: GrabFake-Fixed-APK
        path: grabfake_rebuild_signed.apk
